#app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #ffffff;
}

.lb-logo {
  display: inline-block;
  margin-bottom: 25px;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    transform: scale(0.9);
    text-decoration: none;
  }
}

.lb-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
  &__desk {
    display: block;
    width: 100%;
    max-width: 780px;
    margin-top: 28px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 60px 45px 45px 45px;
    background: url('../images/border.png') no-repeat center;
    background-size: 100% 100%;
    &-title {
      display: block;
      margin-bottom: 55px;
      color: #b6b6b6;
      font-size: 36px;
      font-weight: 800;
      line-height: 1.25;
      letter-spacing: 1.8px;
      span {
        color: #b6b6b6;
      }
    }
    &-sub-title {
      display: block;
      margin: 0 0 45px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
    }
  }
  &__aside {
    display: block;
    width: 100%;
    max-width: 290px;
    margin-bottom: 20px;
    p {
      display: block;
      margin-bottom: 24px;
      color: #a8a8a8;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.7;
      text-align: center;
      span {
        font-size: 14px;
      }
    }
    &-title {
      display: block;
      margin-bottom: 14px;
      color: #a8a8a8;
      font-size: 20px;
      font-weight: 800;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;
    }
    form {
      display: block;
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 96px;
        height: 139px;
        left: 100%;
        top: -35px;
        background: url('../images/icon_arrow.png') no-repeat center;
        background-size: contain;
      }
      input {
        display: block;
        width: 100%;
        outline: 0;
        &[type='text'] {
          margin-bottom: 2px;
          padding: 18px;
          border: 1px solid rgba(0, 0, 0, 0.24);
          background-color: #ffffff;
          color: #000000;
          font-size: 16px;
          font-weight: 300;
          text-decoration: none;
          transition: all 0.15s ease-out;
          &:focus {
            border-color: #abd754;
            text-decoration: none;
          }
        }
      }
      button {
        display: block;
        width: 100%;
        padding: 19px;
        border: 0;
        outline: 0;
        background-color: #ffeca8;
        color: #ffffff;
        font-size: 16px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          background: #ffc600;
          text-decoration: none;
        }
      }
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 130px;
    &>img {
      display: block;
      width: 50px;
      height: 50px;
      margin-bottom: 12px;
      object-fit: contain;
    }
    p {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.3;
    }
  }
}

.lb-gift {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 50px;
  padding: 0 20px 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  text-align: center;
  &>img {
    display: block;
    position: absolute;
    top: 85px;
    right: 28px;
  }
  &__header {
    display: block;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-shadow: 0 11px 21px rgba(0, 0, 0, 0.16);
    background-color: #abd754;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.9px;
  }
  &__title {
    display: block;
    margin-bottom: 165px;
    color: #010101;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;
  }
}

.lb-cases {
  display: block;
  position: relative;
  width: 100%;
  max-width: 116px;
  margin-top: 40px;
  padding-bottom: 2px;
  text-align: center;
  color: #abd754;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px dashed #abd754;
  &:after {
    display: block;
    position: absolute;
    content: '';
    left: 100%;
    top: 0;
    width: 13px;
    height: 14px;
    margin-left: 3px;
    background: url('../images/icon_right.png') no-repeat center;
    background-size: contain;
  }
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px dashed transparent;
    color: #ffc600;
    text-decoration: none;
  }
}