@media (max-width: 1319px) {
  .lb-main__aside form:after {
    display: none;
  }
}

@media (max-width: 1199px) {
  .lb-main__desk {
    padding: 30px 20px;
    border: 13px solid #abd754;
    background: transparent;
  }
  br {
    content: ' ';
  }
}

@media (max-width: 991px) {
  .lb-main__cards {
    justify-content: space-around;
  }
  .lb-main__card {
    align-items: center;
    margin: 0 5px 15px 5px;
    text-align: center;
  }
  .lb-main__desk-title {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }
  .lb-main__desk-sub-title {
    margin: 0 0 20px 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .lb-main {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    &__desk {
      margin-right: 0;
    }
  }
  .lb-logo {
    margin: 0;
  }
  .lb-cases {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {}