// bower:scss
// endbower
@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  color: #000000;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@import "atoms";
@import "restyle";
@import "responsive";