@font-face {
  src: url("../fonts/Lato-Medium.woff");
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Lato-Thin.woff");
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/Lato-Semibold.woff");
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Lato-Bold.woff");
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Lato-Heavy.woff");
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
  color: #000000;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: #ffffff;
}

.lb-logo {
  display: inline-block;
  margin-bottom: 25px;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.lb-logo:hover,
.lb-logo:active,
.lb-logo:focus {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  text-decoration: none;
}

.lb-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 1100px;
}

.lb-main__desk {
  display: block;
  width: 100%;
  max-width: 780px;
  margin-top: 28px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 60px 45px 45px 45px;
  background: url("../images/border.png") no-repeat center;
  background-size: 100% 100%;
}

.lb-main__desk-title {
  display: block;
  margin-bottom: 55px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 35px;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: 1.8px;
}

.lb-main__desk-title span {
  color: rgba(0, 0, 0, 0.6);
}

.lb-main__desk-sub-title {
  display: block;
  margin: 0 0 45px 20px;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
}

.lb-main__aside {
  display: block;
  width: 100%;
  max-width: 290px;
  margin-bottom: 20px;
}

.lb-main__aside p {
  display: block;
  margin-bottom: 24px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
}

.lb-main__aside p span {
  font-size: 14px;
}

.lb-main__aside-title {
  display: block;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.lb-main__aside form {
  display: block;
  position: relative;
}

.lb-main__aside form:after {
  display: block;
  position: absolute;
  content: '';
  width: 96px;
  height: 139px;
  left: 100%;
  top: -35px;
  background: url("../images/icon_arrow.png") no-repeat center;
  background-size: contain;
}

.lb-main__aside form input {
  display: block;
  width: 100%;
  outline: 0;
}

.lb-main__aside form input[type='text'] {
  margin-bottom: 2px;
  padding: 18px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.lb-main__aside form input[type='text']:focus {
  border-color: #fe4b99;
  text-decoration: none;
}

.lb-main__aside form button {
  display: block;
  width: 100%;
  padding: 19px;
  border: 0;
  outline: 0;
  background-color: #F00098;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.lb-main__aside form button:hover,
.lb-main__aside form button:active,
.lb-main__aside form button:focus {
  background: #FF61D3;
  text-decoration: none;
}

.lb-main__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.lb-main__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 95px;
}

.lb-main__card>img {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 12px;
  -o-object-fit: contain;
  object-fit: contain;
}

.lb-main__card p {
  display: block;
  margin: 0;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.lb-gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 50px;
  padding: 0 20px 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
  text-align: center;
}

.lb-gift>img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.lb-gift__header {
  display: block;
  margin-top: -20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  box-shadow: 0 11px 21px rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.lb-gift__title {
  display: block;
  margin-bottom: 165px;
  color: #010101;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-align: center;
}

.lb-cases {
  display: block;
  position: relative;
  width: 100%;
  max-width: 116px;
  margin-top: 40px;
  padding-bottom: 2px;
  text-align: center;
  color: #fe4b99;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px dashed #fe4b99;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.lb-cases:after {
  display: block;
  position: absolute;
  content: '';
  left: 100%;
  top: 0;
  width: 13px;
  height: 14px;
  margin-left: 3px;
  background: url("../images/icon_right.png") no-repeat center;
  background-size: contain;
}

.lb-cases:hover,
.lb-cases:active,
.lb-cases:focus {
  border-bottom: 1px dashed transparent;
  color: #ffc600;
  text-decoration: none;
}

.lb-hey {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: #bbbbbb;
  font-size: 11px;
  font-weight: 300;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.lb-hey:hover {
  color: #fe4b99;
}

@media (max-width: 1319px) {
  .lb-main__aside form:after {
    display: none;
  }
}

@media (max-width: 1199px) {
  .lb-main__desk {
    padding: 30px 20px;
    border: 13px solid #fe4b99;
    background: transparent;
  }
  br {
    content: ' ';
  }
}

@media (max-width: 991px) {
  .lb-main__cards {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .lb-main__card {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 5px 15px 5px;
    text-align: center;
  }
  .lb-main__desk-title {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }
  .lb-main__desk-sub-title {
    margin: 0 0 20px 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .lb-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .lb-main__desk {
    margin-right: 0;
  }
  .lb-logo {
    margin: 0;
  }
  .lb-cases {
    margin-top: 10px;
  }
}